# Secrets et états Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl

# Variables sensibles
secrets.yml
*.key
*.pem

# Divers
.DS_Store
ansible/inventory.ini

# Config OPNsense - contient IP, regles firewall, secrets (NE PAS exposer)
ansible/config.xml
ansible/inventory-opnsense.ini
ansible/nextcloud-dump.sql
ansible/*.sql
.env
ansible/nextcloud-config.php
ansible/nextcloud-data.tar.gz
ansible/vault-data.tar.gz
